body{
    margin: 0;
    background-color: black;
}
header{
    height: 50px;
}
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
.list{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: end;
}
.listItem{
    margin-left: 2em;
    color: white;
    text-decoration: none;
    font-size: 1.0rem;
    font-family: 'Poppins', sans-serif;
}
.listItem:hover{
    font-size: 1.5rem;
    color: red;
}
.listItem:active{
    border-bottom: 3px solid rgb(174, 175, 172);
}
.home::after{
    background-color: blue;
}

@media screen and (max-width: 1080px){

    .list{
        justify-content: center;
    }

}

@media screen and (max-width: 810px){

    .list{
        justify-content: center;
    }

}