:root{
    --mainColor: rgb(17, 43, 31);
}
body{
    margin: 0;
}
header{
    background-color: var(--mainColor);
    height: 50px;
}
.container{
    width: 50%;
    margin: 0 auto;
    max-width: 1200px;
}
.list{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.listItem{
    margin-left: 2em;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.listItem:hover{
    font-size: 1.8rem;
    text-shadow: 1px 1px 3px black;
}
.listItem:active{
    border-bottom: 3px solid rgb(174, 175, 172);
}