.sobreContainer{
    display: flex;
    text-align: center;
}
.sobreImage img{
    width: 60%;
    border-radius: 50%;
}
.sobreText{
    width: 40%;
}
.sobreText h3{
    text-align: justify;
    color: whitesmoke;
}
.skill{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 2%;
}
.skill img{
    width: 30%;
}
.skill h2{
    text-align: end;
    margin-right: 5%;
}