.sobreContainer{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.sobreImage img{
    width: 80%;
    border-radius: 50%;
}
.sobreText{
    width: 80%;
    margin-right: 3%;
}
.sobreText h3{
    text-align: justify;
    color: whitesmoke;
}
.skill{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 2%;
}
.skill img{
    width: 30%;
}
.skill h2{
    text-align: end;
    margin-right: 5%;
}

@media screen and (max-width: 810px){

    .sobreContainer{
        display: block;
        text-align: center;
    }

    .sobreImage img{
        width: 50%;
    }

    .sobreText{
        width: 90%;
        display: inline-block;
        margin: 0;
        text-align: center;
    }
    
}
